.weather-container {
  width: 100%;
  text-align: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-image: url("../../images/storm-4012_256.gif");
  background-size: cover; /* Растягивает изображение на всю область элемента */
  background-repeat: no-repeat; /* Предотвращает повторение изображения */
  z-index: 1;
}

.weather-details {
  margin-top: 20px;
}

.weather-details img {
  width: 70px;
  height: 70px;
}
