/* MySidebar.Styled.css */

.sidebar {
  display: flex; /* Добавлено: использование flexbox для правильного позиционирования дочерних элементов */
  flex-direction: column;
  width: 250px;
  height: 100vh;
  position: fixed;
  left: -210px; /* Исправлено: сделано значение равным ширине, с учетом иконки-гамбургера */
  background-color: rgb(161, 52, 1);
  transition: left 0.5s ease;
}

.sidebar.open {
  left: 0;
}

.hamburgerIcon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  /* margin-top: 10px; */
  color: white;
  margin-left: auto; /* Добавлено: прижимает иконку-гамбургер вправо */
}

/* Добавлены стили для крестика */
.crossIcon {
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  /* margin-top: 10px; */
  color: white;
  margin-left: auto;
  display: none; /* Изначально скрыто */
}

/* Добавлены стили для крестика */
.crossIcon.visible {
  display: block;
}

.menu {
  /* margin-top: 20px; */
  padding: 0px 15px;
  width: 250px;
}

/* .inputField {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
} */

.weatherInfo {
  display: flex;
  align-items: center;
  margin-top: 20px;
  cursor: pointer;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px; /* Добавлен отступ для лучшего визуального восприятия */
}

.weatherInfo img {
  margin-right: 10px; /* Отступ между изображением и текстом */
}

/* Добавленные стили для крестика */
.closeIconContainer {
  position: absolute;
  top: 3px;
  right: 5px;
  cursor: pointer;
  color: white;
  font-size: 15px;
}
