.map-container {
  width: 100%; /* Ширина контейнера будет 100% от родительского элемента */
  height: 300px; /* Высота контейнера составит 300 пикселей */
  margin: 0 auto; /* Центрируем контейнер по горизонтали */
}
